# DataFrame to MySQL Database

In [1]:
import pandas as pd

In [3]:
#Installing pymysql library
# pip install pymysql

In [4]:
#These two libraries are required for setting up connection between pandas and mysql database
from sqlalchemy import create_engine
import pymysql

#Mysql+pymysql are used together after that set connection
#username=root, then colon, password=cs36, then your host that is by defaul localhost and then name of the 
#database
conn = create_engine('mysql+pymysql://root:cs36@localhost/civil')

In [5]:
#Reading dept name from databes civil and then converting it into the dataframe
df = pd.read_sql('dept', conn)
df.head()

   deptno  deptname
0     100  Research
1     102        CS
2     103        IT
3     104        SW

In [6]:
#Reading data set
eda = pd.read_csv(r'F:\Data Science Course\Datasets\automobileEDA.csv')
eda.head()

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,3,2,164,audi,std,four,sedan,fwd,front,99.8,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,4,2,164,audi,std,four,sedan,4wd,front,99.4,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [9]:
#Now converting dataframe into mysql database
eda.to_sql('automobile', con=conn, if_exists='replace')